body {
  background-color: #ffffff;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image {
  width: 50%;
  min-width: 300px;
}

@media (max-width: 786px) {
  .container {
    margin: 0 10%;
  }
}
